*{
	box-sizing: border-box;
}


/*.myDiv {
	border: 5px outset black;
	background-color: white;
	text-align: center;
}

*/

body {
	background-color: darkred;
}



/*
.grid-container{
	grid-template-columns: auto auto auto;
	padding: 50px;
}
section::after{
	content: "";
	display: table;
 	padding: 30px;
 	margin: 40px;
}
*/

ul{
	list-style-type: none;
	margin: 5px;
	padding: 5px;


}

li{
	float: left;
}

li a {
	display: block;	
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 20px 30px;
}



.header_home {
	font-size: 40px;
	color: white;
	margin: 40px;
	text-align: center;
	padding: 40px;
}

.foto1 {
	display: block;	
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;

}

.texts_home{
	display: flex;
	font-size: 20px;
	color: lightgray;
	margin: 40px;
	justify-content: space-around;
	gap: 40px;


}


.trst_img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}



/*
.grid-item{
	background-color: white;
	padding: 10px;
	text-align: center;
	color: black;
	font-size: 30px;
	position: sticky;
	margin: 100px;
	width: 300px;
	height: 100px;
	font-style: italic ;
}

.about{ 
	background-color: white;
	padding: 30px;
	margin: 100px;
	width: 400px;
	height: 300px;
	text-align: center;
	float: left;

}
*/

/* idk if this image is being styled or not



*/


.intro_books {
	display: flex;
	font-size: 60px;
	padding: 40px;
}

.image_container{
	transform: translate(80px, -400px);
}

.questa_mia {
	display: flex;
	color: lightgray;
	font-size: 20px;
	margin: 40px;
	justify-content: space-around;
	gap: 40px;

}

.un_paio{
	display: flex;
	color: lightgray;
	font-size: 20px;
	margin: 40px;
	justify-content: space-around;
	gap: 40px;

}


.emailandphone {
	list-style-type: disc;
	font-size: 30px;
	color: white;
	text-align: left;
	padding: 30px;
}

a{
	color: white;
}

/*
.abouttext2header {
	font-size: 40px;
	color: black;
	text-align: center;
	font-style: italic;
	padding: 30px;

}

.abouttext2 {
	font-size: 30px;
	color: black;
	text-align: center;
}

h1{
	font-size: 75px;
}

p{
	font-size: 50px;
}
*/